# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Default values for scenescape-chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Image repository
repository: docker.io
imagePullSecrets: {}

# Service values
initModels:
  enabled: true
  image:
    repository: docker.io
    name: python
    tag: 3.13-slim@sha256:4c2cf9917bd1cbacc5e9b07320025bdb7cdf2df7b0ceaccb55e9dd7e30987419
    pullPolicy: IfNotPresent
  # Model type to download - MUST be one of: default, ocr, all
  modelType: default
  # Model precisions - comma-separated list of: FP32, FP16, INT8
  modelPrecisions: FP32
  modelProc: true
  resources:
    requests:
      memory: "512Mi"
      cpu: "100m"
    limits:
      memory: "2Gi"
      cpu: "1000m"

ntpserv:
  image:
    repository: docker.io
    name: dockurr/chrony
    tag: 4.8
    pullPolicy: IfNotPresent
  ntpServers: "0.pool.ntp.org,1.pool.ntp.org,2.pool.ntp.org,3.pool.ntp.org"

broker:
  image: eclipse-mosquitto
  tag: "2.0.22"
  pullPolicy: IfNotPresent
  uid: 1000
  gid: 1000

pgserver:
  image: postgres
  tag: 17.6
  pullPolicy: IfNotPresent
  repository: "docker.io"
  storage: 500Mi
  password: ""

web:
  image: intel/scenescape-manager
  pullPolicy: IfNotPresent

scene:
  image: intel/scenescape-controller
  pullPolicy: IfNotPresent

camcalibration:
  image: intel/scenescape-camcalibration
  pullPolicy: IfNotPresent

kubeclient:
  enabled: true
  image: intel/scenescape-manager
  pullPolicy: IfNotPresent
  vaPipeline:
    repository: docker.io
    image: intel/dlstreamer-pipeline-server
    tag: "2025.2-ubuntu24-rc2"
    pullPolicy: IfNotPresent

retail:
  repository: docker.io/intel/dlstreamer-pipeline-server
  tag: "2025.2-ubuntu24-rc2"
  pullPolicy: IfNotPresent
  storageClassName: ""
  cameras:
    image: linuxserver/ffmpeg
    tag: version-8.0-cli
    pullPolicy: IfNotPresent
    files:
      - apriltag-cam1.ts
      - apriltag-cam2.ts

queuing:
  repository: docker.io/intel/dlstreamer-pipeline-server
  pullPolicy: IfNotPresent
  tag: "2025.2-ubuntu24-rc2"
  storageClassName: ""
  cameras:
    image: linuxserver/ffmpeg
    tag: version-8.0-cli
    pullPolicy: IfNotPresent
    files:
      - qcam1.ts
      - qcam2.ts

dlspsWaitImage:
  repository: docker.io
  name: curlimages/curl
  tag: 8.17.0
  pullPolicy: IfNotPresent

mediaserver:
  image: bluenviron/mediamtx
  tag: "1.14.0"
  pullPolicy: IfNotPresent

video:
  # models storage size
  storage: 50Gi
  storageClassName: ""

vdms:
  enabled: true
  image:
    repository: docker.io
    name: intellabs/vdms
    tag: v2.11.0
    pullPolicy: IfNotPresent

clusterAnalytics:
  enabled: false
  image: intel/scenescape-cluster-analytics
  pullPolicy: IfNotPresent
  webUI:
    enabled: false

mapping:
  enabled: false
  image: intel/scenescape-mapping
  pullPolicy: IfNotPresent

# Used as init container in some deployments to wait for dependent services
busyboxImage:
  repository: docker.io
  name: busybox
  tag: 1.37.0
  pullPolicy: IfNotPresent

# media folder pvc details
media:
  storage: 500Mi
  storageClassName: ""

# datasets
datasets:
  storage: 500Mi
  storageClassName: ""

sampleData:
  source: https://raw.githubusercontent.com/open-edge-platform/scenescape
  sourceDir: sample_data
  sourceVersion: main
  downloadDataImage:
    repository: docker.io
    name: ubuntu
    tag: 22.04
    pullPolicy: IfNotPresent
  convertVideosImage:
    repository: docker.io
    name: linuxserver/ffmpeg
    tag: version-8.0-cli
    pullPolicy: IfNotPresent
  files:
    - apriltag-cam1.mp4
    - apriltag-cam2.mp4
    - apriltag-cam3.mp4
    - qcam1.mp4
    - qcam2.mp4
    - Demo.png
    - exampledb.tar.bz2
    - HazardZoneScene.png
    - LabMap.png
    - LotMap.png
    - docker-compose-dls-perf.yml
    - docker-compose-dl-streamer-example.yml
    - atag-calib-demo-map.png
    - scene.png
    - HazardZoneSceneLarge.png
  storage: 500Mi
  storageClassName: ""

# migrations
migrations:
  storage: 100Mi
  storageClassName: ""

# PVC
pvc:
  storageClassName: ""
  hookWeight: "0"

# External access
service:
  annotations: {}

ingress:
  enabled: true
  className: ""
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "128m"

loadBalancer:
  enabled: false
  externalTrafficPolicy: Local
  loadBalancerIP: ""
  annotations: {}

nodePort:
  enabled: false
  annotations: {}

mqttService:
  annotations: {}
  loadBalancer:
    enabled: false
    externalTrafficPolicy: Local
    loadBalancerIP: ""
    annotations: {}
  nodePort:
    enabled: true
    annotations: {}
    nodePort: 31883

# Other parameters
certdomain: ""
supass: ""
dbroot: ""
debug: false
chartdebug: false

# Proxy configuration
httpProxy: ""
httpsProxy: ""
noProxy: "localhost,127.0.0.1,.local,.svc,.cluster.local,10.244.0.0/16,10.96.0.0/12"

# disable pre-install and post-install hooks for cluster compatibility
hooks:
  enabled: true

# enable to start SceneScape in validation mode
tests:
  enabled: false
  access:
    secretKey: "abcdefg"
    service:
      annotations: {}
    nodePort:
      enabled: true
      annotations: {}
      nodePort: 30700
    loadBalancer:
      enabled: false
      externalTrafficPolicy: Local
      loadBalancerIP: ""
      annotations: {}
  storage: 500Mi
  storageClassName: ""
  image: init-tests
  # absolute path to frps/frps images
  frpsImage: snowdreamtech/frps
  frpcImage: snowdreamtech/frpc
