# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
# This file is licensed under Apache 2.0 License.

# Keep package list in alphabetical order
coverage
django-debug-toolbar
pytest
pytest-django
pytest-html
pytest-metadata
pyvirtualdisplay
pupil-apriltags
scikit-image
selenium
