# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-broker
data:
  mosquitto-secure.conf: |
{{ .Files.Get "files/broker/mosquitto-secure.conf" | indent 4 }}
